NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;

NET "CLK" LOC = R3;

NET "anode[7]" LOC = M1;
NET "anode[6]" LOC = L1;
NET "anode[5]" LOC = N4;
NET "anode[4]" LOC = N2;
NET "anode[3]" LOC = N5;
NET "anode[2]" LOC = M3;
NET "anode[1]" LOC = M6;
NET "anode[0]" LOC = N6;

NET "cathode[7]" LOC = L3;
NET "cathode[6]" LOC = N1;
NET "cathode[5]" LOC = L5;
NET "cathode[4]" LOC = L4;
NET "cathode[3]" LOC = K3;
NET "cathode[2]" LOC = M2;
NET "cathode[1]" LOC = L6;
NET "cathode[0]" LOC = M4;

NET "anode[7]" IOSTANDARD = LVCMOS18;
NET "anode[6]" IOSTANDARD = LVCMOS18;
NET "anode[5]" IOSTANDARD = LVCMOS18;
NET "anode[4]" IOSTANDARD = LVCMOS18;
NET "anode[3]" IOSTANDARD = LVCMOS18;
NET "anode[2]" IOSTANDARD = LVCMOS18;
NET "anode[1]" IOSTANDARD = LVCMOS18;
NET "anode[0]" IOSTANDARD = LVCMOS18;

NET "cathode[7]" IOSTANDARD = LVCMOS18;
NET "cathode[6]" IOSTANDARD = LVCMOS18;
NET "cathode[5]" IOSTANDARD = LVCMOS18;
NET "cathode[4]" IOSTANDARD = LVCMOS18;
NET "cathode[3]" IOSTANDARD = LVCMOS18;
NET "cathode[2]" IOSTANDARD = LVCMOS18;
NET "cathode[1]" IOSTANDARD = LVCMOS18;
NET "cathode[0]" IOSTANDARD = LVCMOS18;

NET "CLK" IOSTANDARD = LVCMOS18;